/* Body e nav bar do index */
body,html {
    /*background-image: url('./Image/Imgc2.jpg');*/
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    position: relative; 
    z-index: 1; 
    
}

.main_h1, .main_p, .h2_about {
    color: rgb(2, 2, 2);
}

.navbar {
    left: 0;
    margin: 0;
    border-radius: 0;
}

/* animação do h1 e card */
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMove 1s ease-out forwards;
}

.fade-in-delay {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInMove 1s ease-out forwards;
  animation-delay: 0.5s; /* atraso de 0.5s para aparecer depois */
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* animação do About  */
.about-card {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-card:hover {
  transform: translateY(-6px) scale(1.02);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.icon-3d img {
  transition: transform 0.3s ease;
}

.about-card:hover .icon-3d img {
  transform: rotateY(10deg) rotateX(10deg) scale(1.1);
}
